@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  src: local("Helvetica"), url("assets/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "FUTURA55";
  font-weight: normal;
  font-style: normal;
  src: local("FUTURA55"),
    url("assets/fonts/FUTURA55REGULAR.TTF") format("truetype");
}
body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
