<!DOCTYPE html>
<html>
  <head>
    <title>[{{ naked_domain }}] Account Deletion Confirmation</title>
    <style>
      /* Add some basic styling */
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
      }
      p {
        margin: 1em 0;
      }
    </style>
  </head>
  <body>
    <p>Dear {{ user.name }} {{ user.surname }},</p>

    <p>
      Your account with the username <strong>{{ user.username }}</strong> has
      been successfully deleted.
    </p>

    <p>Thank you for using our service.</p>

    <p>Sincerely,<br />{{ domain }}</p>
  </body>
</html>
